setuptools
wheel
Flask
Flask-CORS
gunicorn
SQLAlchemy
psycopg2-binary
redis
cachetools
numpy
pandas
scipy
scikit-learn
torch
--index-url https://download.pytorch.org/whl/cpu
implicit
faiss-cpu
joblib
python-dotenv
python-json-logger