Flask
Flask-SQLAlchemy
Flask-CORS
Flask-Caching
Flask-Mail
SQLAlchemy
psycopg2-binary
PyJWT
itsdangerous
werkzeug
requests
urllib3
redis
hiredis
pyTelegramBotAPI
geopy
gunicorn
gevent
python-dotenv
click
python-json-logger
flask-limiter
memory-profiler
pytest
pytest-flask
pytest-cov
black
flake8